/*Stylesheet structured after sections, from top to bottom of page. 
Media queries for tablet starting on line 450. 
Media queries for desktop starting on line 615.*/

body {
    margin: 0;
    overflow-x: hidden;
}

/*HEADER*/

header {
    color: #FFFFFF;
    background-image:url(./roman-mager1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 508px;
    border-bottom: 3px solid white;
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-top: 32px;
    margin-bottom: 7px;
}

header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 5px 0;
}

header h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
}

.header-name {
    font-weight: bold; 
    margin-left: 20px;
}


header img {
    border: 3px solid white;
    border-radius: 50%;
    width: 156px;
    position: absolute;
    top: 266px;
    right: 0;
}

.header-content {
    width: 80%;
    margin-top: 105px;
    position: relative;
}

.white-icon-container {
    display: flex;
    justify-content: flex-end;
}

.linkedin-white {
    background-image: url(./linkedin_white.svg);
}

.github-white {
    background-image: url(./github_white.svg);
}

.stack-over-white {
    background-image: url(./stackoverflow_white.svg);
}

.linkedin-white, .github-white, .stack-over-white {
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

/*CONTENT*/

.content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    background-color: #FA382F;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.content h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #FA382F;
    line-height: 25px;
}


/*DESCRIPTION-SECTION*/

.description {
    background-color: #F4F4F4;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.description article {
    width: 80%;
    text-align: left;
    line-height: 29px;
}

.description span {
    margin-right: 10px;
}

/*TECH-SECTION*/

.tech {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.tech p {
    width: 80%;
    text-align: center;
    line-height: 29px;
}

/*PROJECTS-SECTION*/

.projects {
    background-color: #F4F4F4;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.projects h3 {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 29px;
}

.headline {
    font-weight: bold;
    color: #FA382F;
}

.featured-projects-container {
    width: 80%;
    margin-top: 18px;
}

.project-A {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
}

.project-A img {
    width: 100%;
}

.project-B, .project-E {
    display: none;
}

.project-C, .project-D {
    text-decoration: none;
    color: #000000;
}

.tag-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.tag {
    font-size: 9px;
    background-color: #FDDFE7;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 2px;
    margin-left: 2px;
}

.arrows {
    font-weight: bold;
    color: #FA382F;
    font-size: 17px;
}

.other-projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
}

/*THOUGHTS-SECTION*/

.thoughts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.thoughts a {
    font-family: "Roboto", sans-serif;
    line-height: 27px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    margin-top: 48px;
}

.thoughts h5 {
    
    margin-bottom: 37px;
}

.thoughts h3 {
    font-weight: 300;
    font-size: 17px;
    color: #FA382F;
    margin: 10px 0 0 0;
}

.thoughts h4 {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    margin: 0;
    margin-bottom: 5px;
    color: #000000;
}

.thoughts p {
    margin: 0;
}

.featured-thoughts {
    width: 80%;
    margin-top: 22px;
    line-height: 32px;
}

.thought-A {
    width: 80%;
}

.thought-A img {
    width: 100%;
}

.thought-B {
    display: none;
}

.more-thoughts {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
    font-family: "Roboto", sans-serif;
}

.more-thoughts h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #FA382F;
    line-height: 25px;
    margin: 0;
}

.more-thoughts a {
    font-weight: bold;
    line-height: 29px;
}

.thought-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thought-time {
    font-weight: 300;
    color: #FA382F;
    margin: 0;
}

/*SKILLS-SECTION*/

.skills {
    background-color: #F4F4F4;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 6px;
}

.skills h1 {
    margin-bottom: 0;
}

.skills h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #FA382F;
    margin-top: 38px;
}

.skills p {
    margin: 8px;
}

.skill-container {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 540px;
}

.skill-block {
    margin-bottom: 20px;
}

/*THE SOCIAL MEDIA SECTION*/

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 56px;
}

.social a {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FA382F;
    text-decoration: none;
    margin-top: 14px;
}

.media-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}


.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.linkedin, .github, .stack-over {
    background-size: 33%;
    background-position: center;
    background-repeat: no-repeat;
    height: 52px;
    width: 52px;
    border: 3px solid #FF0000;
    border-radius: 50%;
}
.linkedin {
    background-image: url(./linkedin_red.svg);
}

.github {
    background-image: url(./github_red.svg);
}

.stack-over {
    background-image: url(./stackoverflow_red.svg);
}

/*FOOTER*/

footer {
    background-color: #072BCE;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 60px 0;
}

footer h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin: 17px 0 17px 0;
}

footer p, footer a {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    margin: 6px;
    font-size: 17px;
}

.name {
    font-weight: bold;
}

/*MEDIA QUERIES FOR TABLET VIEW*/

@media (min-width: 668px) {

    /*REFERS TO WHOLE PAGE*/
    .content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .content h4 {
        font-size: 29px;
    }

    /*HEADER*/
    header {
        height: 580px;
    }

    header h1 {
        font-size: 20px;
    }

    header h2 {
        font-size: 60px;
    }

    header h3 {
        font-size: 31px;
    }

    header img {
        width: 234px;
    }

    .linkedin-white, .github-white, .stack-over-white {
        width: 54px;
        height: 54px;
    }

    /*DESCRIPTION-SECTION*/
    .description {
        font-size: 21px;
    }

    /*TECH-SECTION*/
    .tech {
        font-size: 21px;
    }

    /*PROJECTS-SECTION*/
    .projects {
        font-size: 21px;
    }

    .projects h3 {
        font-size: 21px;
    }

    .featured-projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .project-A {
        width: 45%;
    }
    
    .project-B {
        width: 45%;
        display: block;
        text-decoration: none;
        color: #000000;
    }

    .project-B img {
        width: 100%;
    }

    .project-C {
        display: none;
    }

    .project-E {
        display: block;
        text-decoration: none;
        color: #000000;
    }

    .tag {
        font-size: 12px;
    }

    .arrows {
        font-size: 21px;
    }

    /*THOUGHTS-SECTION*/
    .thoughts h3, .thoughts p, .thoughts a {
        font-size: 21px;
        line-height: 32px;
    }

    .thoughts h4 {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .thoughts h5 {
        font-size: 29px;
        margin: 10px;
    }

    .featured-thoughts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 0;
    }

    .thought-A {
        width: 45%;
    }

    .thought-B {
        display: block;
        width: 45%;
    }

    .thought-B img {
        width: 100%;
    }

    .thought-C {
        display: none;
    }

    /*SKILLS-SECTION*/
    .skill-container {
        width: 80%;
        height: 450px;
        font-size: 21px;
    }

    .skills h3 {
        font-size: 21px;
    }

    .skill-block {
        width: 180px;
    }

    /*SOCIAL MEDIA SECTION*/
    .media-container {
        width: 60%;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .social a {
        font-size: 18px;
    }

    .linkedin, .github, .stack-over {
        height: 90px;
        width: 90px;
    }

    /*FOOTER*/
    footer h2 {
        font-size: 30px;
    }

    footer p, footer a {
        font-size: 23px;
    }

    footer div {
        margin: 95px 0;
    }
}

/*MEDIA QUERIES FOR DESKTOP SIZE*/

@media (min-width: 1025px) {
    /*REFERS TO WHOLE PAGE*/
    .content h2 {
        font-size: 48px;
        line-height: 58px;
        padding: 10px;
    }

    .content h4 {
        font-size: 38px;
    }

    /*HEADER*/
    header {
        height: 655px;
    }
    header h1 {
        font-size: 28px;
    }

    header h2 {
        font-size: 82px;
    }

    header h3 {
        font-size: 42px;
    }

    header img {
        width: 290px;
        top: 300px;
        right: -100px;
    }

    .header-content {
        width: 60%;
    }

    .linkedin-white, .github-white, .stack-over-white {
        width: 74px;
        height: 74px;
        margin-right: 10px;
    }

     /*DESCRIPTION-SECTION*/
     .description {
        font-size: 25px;
    }

    .description article {
        width: 60%;
        line-height: 50px;
    }

     /*TECH-SECTION*/
     .tech {
        font-size: 25px;
    }

    .tech p {
        width: 60%;
        line-height: 50px;
    }

    /*PROJECTS-SECTION*/
    .projects {
        font-size: 25px;
    }

    .projects h3 {
        font-size: 25px;
        line-height: 41px;
    }

    .featured-projects-container {
        width: 60%;
    }

    .other-projects {
        width: 60%;
    }
    
    .tag {
        font-size: 16px;
    }

    /*THOUGHTS-SECTION*/
    .thoughts {
        padding-bottom: 123px;
    }

    .thoughts h3, .thoughts p {
        font-size: 25px;
        line-height: 41px;
    }

    .thoughts h4 {
        font-size: 30px;
        line-height: 41px;
    }

    .thoughts h5 {
        font-size: 38px;
        line-height: 47px;
        margin: 20px;
    }

    .featured-thoughts {
        width: 60%;
        line-height: 41px;
    }

    .more-thoughts {
        width: 60%;
    }

    .more-thoughts a {
        font-size: 25px;
    }

    /*SKILL-SECTION*/
    .skill-container {
        width: 60%;
        height: 600px;
        font-size: 25px;
        line-height: 41px;
    }

    .skill-container h2 {
        font-size: 25px;
    }

    /*SOCIAL MEDIA SECTION*/
    .media-container {
        width: 50%;
    }

    .social a {
        font-size: 25px;
    }

    .linkedin, .github, .stack-over {
        height: 154px;
        width: 154px;
    }

    /*FOOTER*/
    footer h2 {
        font-size: 38px;
        margin: 40px 0;
    }

    footer p, footer a {
        font-size: 30px;
    }

    footer div {
        margin: 135px 0 190px 0;
    }
}

/*EXTRA MEDIA-QUERIES FOR VERY WIDE SCREEN*/

@media (min-width: 1300px) {
    header img {
        width: 327px;
        top: 270px;
        right: 0;
    }
}