body {
    margin: 0;
}

/*HEADER*/

header {
    color: #FFFFFF;
    background-image:url(./roman-mager1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 508px;
    border-bottom: 3px solid white;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 5px 0;
}

header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
}

header h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-top: 32px;
    margin-bottom: 7px;
}

header img {
    border: 3px solid white;
    border-radius: 50%;
    width: 156px;
    position: absolute;
    top: 362px;
    right: 37px;
}

.header-content {
    width: 80%;
    margin-top: 105px;
}

.white-icon-container {
    display: flex;
    justify-content: flex-end;
}

.linkedin-white {
    background-image: url(./linkedin_white.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

.github-white {
    background-image: url(./github_white.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

.stack-over-white {
    background-image: url(./stackoverflow_white.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

/*CONTENT*/

.content h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: #FA382F;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #FA382F;
}


/*DESCRIPTION-SECTION*/

.description {
    background-color: #F4F4F4;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.description article {
    width: 80%;
    text-align: left;
    line-height: 29px;
}

.description span {
    margin-right: 10px;
}

/*TECH-SECTION*/

.tech {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 29px;
    padding-top: 58px;
    padding-bottom: 56px;
}

.tech p {
    width: 80%;
}

/*PROJECTS-SECTION*/

.projects {
    background-color: #F4F4F4;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.projects p {
    margin-bottom: 0;
}

.projects h2 {
    margin-bottom: 25px;
}

.headline {
    font-weight: bold;
    color: #FA382F;
}

.highlight-project {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
}

.highlight-project img {
    width: 100%;
}


.tag-container {
    display: flex;
    justify-content: flex-start;
}

.tag {
    font-size: 9px;
    background-color: #FDDFE7;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 2px;
    margin-left: 2px;
}

.arrows {
    font-weight: bold;
    color: #FA382F;
    font-size: 17px;
}

.other-projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
}

/*THOUGHTS-SECTION*/

.thoughts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.thoughts a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    line-height: 32px;
    margin-top: 48px;
}

.thoughts h2 {
    margin-bottom: 37px;
}

.thoughts h3 {
    font-size: 21px;
    margin: 0;
}

.thoughts h4 {
    font-weight: 300;
    color: #FA382F;
    margin: 0;
}

.thoughts p {
    margin: 0;
}

.highlight-thought {
    width: 80%;
}

.highlight-thought img {
    width: 100%;
}

.more-thoughts {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
    font-family: "Roboto", sans-serif;
}

.more-thoughts h5 {
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    margin: 0 0 20px 0;
}

.thought-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thought-time {
    font-weight: 300;
    color: #FA382F;
    margin: 0;
}

/*SKILLS-SECTION*/

.skills {
    background-color: #F4F4F4;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 6px;
}

.skills h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #FA382F;
}

.skills p {
    margin: 8px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
}

.skill-block {
    margin-bottom: 50px;
}

/*THE SOCIAL MEDIA SECTION*/

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
}

.social a {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FA382F;
    text-decoration: none;
    margin-top: 14px;
}

.media-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.linkedin {
    background-image: url(./linkedin_red.svg);
    background-size: 33%;
    background-position: center;
    background-repeat: no-repeat;
    height: 58px;
    width: 58px;
    border: 3px solid #FF0000;
    border-radius: 50%;
}

.github {
    background-image: url(./github_red.svg);
    background-size: 33%;
    background-position: center;
    background-repeat: no-repeat;
    height: 58px;
    width: 58px;
    border: 3px solid #FF0000;
    border-radius: 50%;
}

.stack-over {
    background-image: url(./stackoverflow_red.svg);
    background-size: 33%;
    background-position: center;
    background-repeat: no-repeat;
    height: 58px;
    width: 58px;
    border: 3px solid #FF0000;
    border-radius: 50%;
}

/*FOOTER*/

footer {
    background-color: #072BCE;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 60px 0;
}

footer h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin: 17px 0 17px 0;
}

footer p {
    font-family: "Roboto", sans-serif;
    margin: 6px;
}

.name {
    font-weight: bold;
}